course/.Rhistory
course/.Rproj.user
course/.RData
course/solutions-concordance.tex
course/solutions.tex
course/solutions.R
*~
*.aux
*blx.bib
*.bbl
*.blg
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
.Rproj.user
